@page "/fetchdata"
@inject HttpClient Http

<PageTitle>Insepction Log</PageTitle>

<h1>NDT Inspection Log</h1>

<p>Fetching data from the server.</p>

@if (inspectionPODS == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Method</th>
                <th>Serial Number</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var inspectPODS in inspectionPODS)
            {
                <tr>
                    <td>@inspectPODS.Date.ToShortDateString()</td>
                    <td>@inspectPODS.Method</td>
                    <td>@inspectPODS.SerialNumber</td>
                    <td>@inspectPODS.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private InspectionPOD[]? inspectionPODS;

    protected override async Task OnInitializedAsync()
    {
        inspectionPODS = await Http.GetFromJsonAsync<InspectionPOD[]>("sample-data/weather.json");
    }

    public class InspectionPOD
    {
        public DateOnly Date { get; set; }

        public string Method { get; set; } = "method required";

        public string? Summary { get; set; }

        public string SerialNumber { get; set; } = "serial number required";
    }
}
