@page "/"

<PageTitle>RT | About</PageTitle>

<div class="jumbotron text-center">
    
    <h3>Streamline inspections and navigate aviation complexity with our software</h3> 
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h4>About Us</h4>
            <p>At Radiant Technologies, we are dedicated to revolutionizing the way businesses approach aviation inspection software. Founded in 2021, our goal is to become a leader in the aviation industry by offering innovative cloud-based and software solutions that streamline and improve processes.</p>
            <p>Our cloud-based system consolidates all tasks into a single platform, making it easy for businesses to manage and control the entire job workflow. This includes individual test reports, staff, customer, and device management. By using our system, which is hosted on Microsoft Azure, businesses can enjoy the benefits of advanced security measures to protect their data. In addition to enhanced security, our system also helps businesses increase efficiency, stay organized, and get a competitive edge.</p>
            <p>In addition to our cloud-based system, we also offer a range of software solutions to support and enhance inspections. Our team of experienced professionals is committed to delivering the best tools and services to help businesses succeed.</p>
        </div>
        <div class="col-sm-6">
            <h4>Our Products</h4>
            <p>Radiant Technologies is a leading provider of innovative solutions for the aviation industry. Our subsidiary, Radian NDT, specializes in non-destructive testing (NDT) inspections. Our cloud-based system allows businesses to easily manage and control the entire NDT job workflow, including individual test reports, staff, customer, and device management. By using our system, businesses can increase efficiency, stay organized, and get a competitive edge. As an experienced NDT Level III in various methods at Radian NDT, I have seen firsthand the impact our system has on improving NDT processes for our clients.</p>
        </div>
    </div>
</div>

<div class="jumbotron text-center">
    <p>Thank you for choosing our company for all of your aviation needs. We look forward to working with you and providing you with the best products and services in the industry.</p>
</div>
